@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-50%);
    }
}

.activity-modal {
    overflow-y: scroll;
    padding: 20px;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0px;
    bottom: 0px;
    right: 0px;
    // transform: translateX(100%);
    // transition: transform 150ms cubic-bezier(0, 0, 0.35, 1);
    border-left: 1px solid;
    border-color: #c5c7d0;
    z-index: 5;
    // max-width: calc(100% - 200px);
    width: 550px;
    box-shadow: 0px 0px 10px 0px;

    &.open {
        box-shadow: 0px 0px 10px 0px #000000a3;
    }

    //  // max-width: calc(100% - 200px);
    //  width           : 550px;
    //  box-shadow      : 0px 0px 10px 0px;
    //  // animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
    //  // transition: transform 150ms cubic-bezier(0, 0, 0.35, 1);

    //  &.open {
    //      box-shadow  : 0px 0px 10px 0px;
    //      // transform: translateX(100%);

    .board-title {
        font-size: 18px;
        margin: 10px 0;
    }

    form {
        input {
            flex: 1;
            border: 1px solid $lightGrey;
            height: 41px;
            border-radius: 4px;
            padding: 10px 0px 10px 40px;
            cursor: pointer;
            border-color: #a25ddc;
            &:focus + button {
                opacity: 1;
            }
            font-size: 16px;
            font-family: roboto-light;
        }
        button {
            height: 41px;
            background-color: #0073ea;
            color: white;
            border-radius: 4px;
            border: none;
            transition: 0.3s ease;
            opacity: 0;
            position: absolute;
            right: 20px;
        }
    }

    .sections {
        font-size: 14px;
        // margin-bottom: 15px;
        // padding-bottom: 3px;
        border-bottom: 1px solid #efefef;

        > * {
            padding: 0 8px;
        }

        > *:not(:first-child) {
            margin-left: 20px;
        }

        .active {
            border-bottom: 2px solid #0085ff;
        }
    }

    .update-preview {
        border: 1px solid #e6e9ef;
        border-top: 2px solid #a25ddc;
        border-radius: 8px;
        margin: 20px 0;
        padding: 15px;
        color: #323338;

        .member {
            margin-bottom: 15px;

            span:not(:first-of-type) {
                margin-left: 10px;
            }
        }

        .edit {
            font-size: 14px;
            font-family: roboto-light;
        }

        .editable-cmp {
            margin-bottom: 7px;
            font-family: roboto-light;
        }

        .cross-svg {
            width: 18px;
            margin-left: 15px;
        }
    }

    .cross-svg {
        width: 22px;
    }

    .activities {
        font-size: 14px;
        font-family: roboto-light;
        margin-top: 5px;

        .activity-preview {
            height: 56px;
            padding: 8px 5px;
            border-bottom: 1px solid #c5c7d0;

            .time {
                flex-basis: 80px;
            }

            .title {
                flex: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-left: 8px;
            }

            .type,
            .group,
            .item {
                flex-basis: 70px;
                text-align: center;
            }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .activity-modal {
        max-width: 100wv;
        width: 100%;
        // display: none;
        .cross-svg {
            float: right;
        }
        .board-title {
            margin-top: 40px;
        }
    }
}
