.activity-modal {
    animation       : fade-in-right 0.3s ease-in-out both;
    overflow-y      : scroll;
    padding         : 20px;
    height          : 100%;
    position        : fixed;
    background-color: #fff;
    top             : 0px;
    bottom          : 0px;
    right           : 0px;

    border-left : 1px solid;
    border-color: #c5c7d0;
    z-index     : 5;
    width       : 550px;
    box-shadow  : 0px 3px 15px #00000033;

    &.open {
        box-shadow: 0px 3px 15px #00000033;

    }

    .board-title {
        font-size: 18px;
        margin   : 10px 0;
    }

    .upload-preview {
        border-radius  : 4px;
        border         : 1px solid #a25ddc;
        margin-bottom  : 5px;
        text-align     : center;
    }

    form {
        textarea {
            border          : 1px solid $lightGrey;
            height          : 41px;
            border          : none;
            resize          : none;
            width           : 100%;
            outline         : none;
            padding         : 10px;
            cursor          : pointer;

            &:focus {
                border: none;
            }

            font-size  : 16px;
            font-family: roboto-light;
        }

        button {
            font-size       : 14px;
            background-color: #0073ea;
            color           : white;
            border-radius   : 4px;
            border          : none;
            transition      : 0.3s ease;
            position        : absolute;
            right           : 20px;
            padding         : 5px 15px;
        }

        img {
            width: 60%;
        }

        label {
            font-size  : 14px;
            font-family: roboto-light;
            cursor     : pointer;
        }
    }

    .sections {
        font-size        : 14px;
        margin-bottom    : 15px;
        border-bottom    : 1px solid #efefef;

        >* {
            padding: 0 8px;
            cursor : pointer;
        }

        >*:not(:first-child) {
            margin-left: 20px;
        }

        .active {
            border-bottom: 2px solid #0085ff;
        }
    }

    .update-preview {
        border       : 1px solid #e6e9ef;
        border-top   : 2px solid #a25ddc;
        border-radius: 8px;
        margin       : 20px 0;
        padding      : 15px;
        color        : #323338;
        text-align   : center;

        .upload-img {
            width: 60%;
        }

        .member {
            margin-bottom: 15px;

            span:not(:first-of-type) {
                margin-left: 10px;
            }
        }

        .edit {
            font-size  : 14px;
            font-family: roboto-light;
        }

        .editable-cmp {
            margin-bottom: 7px;
            font-family  : roboto-light;
        }

        .cross-svg {
            cursor     : pointer;
            width      : 18px;
            margin-left: 15px;
        }
    }

    .cross-svg {
        cursor: pointer;
        width : 22px;
    }

    .activities {
        font-size  : 14px;
        font-family: roboto-light;
        margin-top : 5px;

        .activity-preview {
            height       : 56px;
            padding      : 8px 5px;
            border-bottom: 1px solid #c5c7d0;

            .time {
                flex-basis: 115px;
            }

            .title {
                flex         : 1;
                text-overflow: ellipsis;
                overflow     : hidden;
                white-space  : nowrap;
                padding-left : 8px;
            }

            .type,
            .group,
            .item {
                flex-basis: 60px;
                text-align: center;
            }

            .item {
                text-overflow: ellipsis;
                overflow     : hidden;
                white-space  : nowrap;
            }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .activity-modal {
        width       : 100vw;
        z-index     : 7;
        padding: 20px 10px;

    }
}