.board-filter {
    animation: fade-in 0.3s ease-in-out both;
    position: absolute;
    top: 150px;
    left: 320px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 8px 16px 0px #00000052;
    z-index: 1;
    font-size: rem(13px);
    border-radius: 4px;
    max-height: 152px;
    overflow-y: scroll;
    z-index: 5;

    h1 {
        font-size: rem(16px);
    }
    .filter-groups {
        .filter-group {
            h1 {
                font-size: rem(13px);
            }
            // font-weight: 600;
        }
        .filter-group-item {
            &:hover {
                background-color: #e6e9ef;
                border-radius: 4px;
            }
        }
    }
    .filter-groups > *:not(:last-child) {
        margin-inline-end: 15px;
    }
}
