.board-header {
    color         : #323338;
    margin        : 20px 0 10px 0;
    padding-bottom: 10px;
    border-bottom : 1px solid $lightGrey;

    .star-fav {
        stroke: #c3c5ca;
    }

    .title-container {
        position: sticky;
        left    : 130px;

        .title {
            font-size        : rem(24px);
            height           : rem(40px);
            margin-inline-end: 15px;
            color            : #323338;
            font-weight      : 600;
        }
    }

    .subtitle {

        position: sticky;
        left    : 130px;
    }

    .subtitle-container {
        .subtitle {
            font-size  : rem(14px);
            width      : rem(500px);
            height     : rem(25px);
            font-family: roboto-light, helvetica, sans-serif;
        }
    }

    .board-header-btns {
        position: sticky;
        z-index: 1;
        right   : 25px;
    }

    .btn {
        color           : inherit;
        height          : 32px;
        font-size       : rem(14px);
        font-family     : roboto-light, helvetica, sans-serif;
        padding         : 4px 8px;
        font-weight     : 400;
        line-height     : 22px;
        border          : none;
        border-radius   : 4px;
        background-color: transparent;
        transition      : 0.3s;

        &:hover {
            background-color: #e6e9ef;
        }

        &>*:not(:last-child) {
            margin-inline-end: 10px;
        }
    }

    svg {
        height: 24px;
        width : 24px;
    }

}


    .invite-user {
        animation       : fade-in 0.3s ease-in-out both;
        position        : absolute;
        background-color: white;
        box-shadow      : 0 8px 16px 0px #00000052;
        z-index         : 3;
        border-radius   : 4px;
        padding         : 16px 11px;
        top: 31px;
        right: -14px;
        &>* {
            cursor: pointer;
        }

        & .user-select {
            gap      : 10px;
            font-size: 13px;
        }

        .user-select:not(:last-of-type) {
            margin-bottom: 5px;
        }

        span {
            margin: auto;
        }
    }

@media (max-width: $mobile-breakpoint) {
    .board-header {
        width           : 100%;
        overflow-x      : hidden;
        position        : fixed;
        top             : 0;
        background-color: #fff;
        z-index: 6;
        margin-top: 0;
        margin: 0 auto;
        padding-top: 15px;
        padding-right: 20px;
        .invite-user {
            position: fixed;
            right: 50px;
            top: 45px;
        }
        .header-top {
            flex-direction: column-reverse; // so 3 btns will come before Board title
        }

        .board-header-btns {
            display             : flex;
            justify-content     : flex-end;
        }

        .board-header-btns {
            position: unset;

        }

        .subtitle-container {
            .subtitle {
                width         : 100%;
            }
        }
    }
}