.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    .date-pick-wrapper{
        display: flex;
    }
    .date-picker-cmp,
    .date-picker,
    .no-date,
    .set-dates,
    .num-of-days {
        width: 155px;
        // amend width side so it won't use pixels.
        display: inline-block;
        padding: 1.25px 5.25px;
        border: none;
        background-color: $grey;
        color: white;
        line-height: 22px;
        border-radius: 11px;
        margin: 0 auto;
    }
    .date-picker-container {
        width: 155px;
        height: 25px;
        border-radius: 11px;
        position: relative;
        .date-picker-cmp {
            width: 155px;

            background-color: transparent;
            position: absolute;
            top: -45px;
            right: -75px;
        }
        .progress-bar {
            position: absolute;
            // top: 0;
            // left: 0;
            height: 25px;
            border-radius: 11px;
        }

        .grey-bck {
            width: 155px;
            height: 25px;
            background-color: $grey;
            border-radius: 11px;
        }
    }
}
