.task-row {
    .label {
        flex-basis: 139px;
        min-width: 139px;
        cursor: pointer;
        color: #ffffff;
        // transition: .5s;
        .modal-container {
            top: -98px;
        }
        .floating-label-select {
            animation: fade-in 0.3s ease-in-out both;
            z-index: 1;
            position: absolute;
            color: #ffffff;
            width: 139px;
            background-color: #fff;
            box-shadow: 0 8px 16px 0px #00000052;
            border-radius: 4px;
            padding: 16px 11px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center; //helper?
        }

        .status-priority-dog-ear {
            position: relative;

            &:before,
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                transition: all .3s;
            }
            &:before {
                border-top: 0px solid transparent;
                border-left: 0px solid rgba(0, 0, 0, 0.3);
            }
            &:after {
                border-bottom: 0px solid transparent;
                border-right: 0px solid #fff;
            }

            &:hover {
                &:before {
                    border-top: 15px solid transparent;
                    border-left: 15px solid rgba(0, 0, 0, 0.3);
                }
                &:after {
                    border-bottom: 15px solid transparent;
                    border-right: 15px solid #fff;
                }
            }
        }
    }
}
