.task-row {
    .asignee {
        // display: none;
        flex-basis: 100px;
        min-width: 100px;
        text-align: center;
        cursor: pointer;

        .cell-member-avatar {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}
