.task-row {
    .creation-log {
<<<<<<< HEAD
        flex-basis: 100px;
        min-width : 100px;
=======
        flex-basis: 134px;
        min-width: 134px;
    }
>>>>>>> 06566767f40a68313f7072821022dd4798561a9d

        p {
            gap: 7px;
        }
    }

}