.date-picker {
    width: 155px;
    // amend width side so it won't use pixels. 
    padding: 1.25px 5.25px;
    border: none;
    background-color: $grey;
    color: white;
    line-height: 22px;
    border-radius: 11px;
    margin: 0 auto;

}
