.color-container {
    animation: fade-in 0.3s ease-in-out both;
    width: 140px;
    z-index: 6;
    background: #fff;
    position: absolute;
    top: 30px;
    box-shadow: 0 8px 16px 0px #00000052;
    border-radius: 4px;
    cursor: pointer;

    .color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        // background-color: rgb(247, 166, 166);
        display: inline-block;
        margin: 3px;
    }

    .darkGreen {
        background-color: $darkGreen;
    }

    .green {
        background-color: $green;
    }

    .yellowGreen {
        background-color: $yellowGreen;
    }

    .beige {
        background-color: $beige;
    }

    .yellow {
        background-color: $yellow;
    }

    .darkPurple {
        background-color: $darkPurple;
    }

    .purple {
        background-color: $purple;
    }

    .turquoise {
        background-color: $turquoise;
    }

    .blue {
        background-color: $blue;
    }

    .lightBlue {
        background-color: $lightBlue;
    }

    .darkRed {
        background-color: $darkRed;
    }

    .red {
        background-color: $red;
    }

    .darkOrange {
        background-color: $darkOrange;
    }

    .orange {
        background-color: $orange;
    }

    .brown {
        background-color: $brown;
    }

    .grey {
        background-color: $grey;
    }

    .darkGrey {
        background-color: $darkGrey;
    }
}
