.group-header {
    width: 100%;
    font-size: rem(14px);
    text-align: center;
    color: #323338;
    margin-left: 7px;

    // background-color: white;
    & > *:not(:last-child) {
        margin: 0 0 0 1px;
    }
    .title {
        font-size: rem(18px);
        flex: 1;
        min-width: 388px;
    }
    .asignee {
        // members...
        flex-basis: 100px;
        min-width: 100px;
        text-align: center;
    }
    .tags {
        flex-basis: 100px;
        min-width: 100px;
    }
    .label {
        // status & priority
        flex-basis: 100px;
        min-width: 100px;
    }
    .creation-log {
        flex-basis: 100px;
        min-width: 100px;
    }
    .timeline {
        flex-basis: 155px;
        min-width: 155px;
    }
}
