.group-container {
    margin-bottom: 30px;
    background-color: #ffffffe6;

    .group-modal {
        animation: fade-in 0.5s ease-in-out both;
        z-index: 1;
        font-size: 14px;
        line-height: 24px;
        padding: 5px 20px;
        background-color: #fff;
        box-shadow: 0 8px 16px 0px #00000052;
        border-radius: 4px;
        cursor: pointer;
    }

    .group-preview {
        width: 100%;
    }
    button {
        height: fit-content;
    }
    .fas {
        font-family: fa-solid;
    }
    .group-handle::after {
        content: "\f58e";
    }
    &:hover {
        .group-handle {
            opacity: 0.5;
        }
    }
    .group-handle {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
}
