.loader-no-groups {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    // flex-direction: column;
    align-items: center;
    h1 {
        font-family: roboto-light,helvetica,sans-sarif;
        font-size: rem(18px);
    }
    img {
        display: inline-block;
        width: 15%;
        opacity: .75;
    }
}

.group-container {
    margin-bottom: 30px;
    background-color: #ffffffe6;
    min-width: 380px;
    // overflow-x: scroll;
    .group-modal {
        animation: fade-in 0.5s ease-in-out both;
        z-index: 5;
        font-size: 14px;
        line-height: 24px;
        padding: 5px 20px;
        background-color: #fff;
        box-shadow: 0 8px 16px 0px #00000052;
        border-radius: 4px;
        cursor: pointer;
    }

    .group-preview {
        width: 100%;
    }
    button {
        height: fit-content;
    }
    .fas {
        font-family: fa-solid;
    }
    .group-handle::after {
        content: '\f58e';
    }
    &:hover {
        .group-handle {
            opacity: 0.5;
        }
    }
    .group-modal-choose {
        cursor: pointer;
        width: 17px;
        margin-top: 6px;
    }
    .group-handle {
        opacity: 0;
        margin: 3.5px 2px 0 5px;
        font-size: rem(18px);
        &:hover {
            opacity: 1;
        }
    }
}

// /* MEDIUM */
@media (max-width: $normal-breakpoint) {
    .groups-container.wrapper {
        overflow-x: scroll;

        // overflow-x: scroll;
        // min-height: 100vh;
        // width: 1400px;
    }
}

@media (max-width: $mobile-breakpoint) {
    .group-container {
        .group-preview {
            // overflow-x: scroll;
        }
        .group-handle {
            opacity: 0.5;
        }
        .group-modal-choose {
            margin-left: 10px;
            svg {
                width: 16px;
            }
        }
    }
}
