.group-container {
    margin-bottom: 30px;
    .group-preview {
        width: 100%;
    }
    button {
        height: fit-content;
    }
    .fas {
        font-family: fa-solid;
    }
    .fa-arrows-alt::after {
        content: "\f0b2";
    }
}
