.group-header {
    width: 100%;
    font-size: rem(14px);
    text-align: center;
    color: #323338;
    margin-left: 7px;
    font-family: roboto-light, helvetica, sans-serif;

    // background-color: white;
    & > *:not(:last-child) {
        margin: 0 0 0 1px;
    }
    .title {
        position: sticky;
        left: 0;
        z-index: 4;
        font-size: rem(18px);
        flex: 1;
        min-width: 388px;
        // max-width: 388px;
        background-color: white;
    }
    .asignee {
        // members...
        flex-basis: 100px;
        min-width: 100px;
        text-align: center;
    }
    .tags {
        flex-basis: 139px;
        min-width: 139px;
    }
    .label {
        // status & priority
        flex-basis: 139px;
        min-width: 139px;
    }
    .creation-log {
        flex-basis: 134px;
        min-width: 134px;
    }
    .timeline {
        flex-basis: 180px;
        min-width: 180px;
        cursor: default;
    }
}

@media (max-width: $normal-breakpoint) {

    .group-header {
        .title {
            max-width: 388px;
        }
    }

}
