.sidebar-nav {
    width: 35px;
    min-height: 100vh;
    border-right: 1px solid #e6e9ef;
    padding: 25px 10px 10px 10px;
    transition: 0.3s ease;
    white-space: nowrap;
    font-size: 0.75em;

    &.is-expanded {
        width: 235px;
        .arrow {
            position: sticky;
            top: 20px;
            transform: translateX(168px);
            transition: 0.3s ease;
        }
        h1 {
            width: 168px;
            font-size: 16px;
            border: 1px solid #e6e9ef;
            padding: 10px 5px;
            border-radius: 4px;
        }
        h2 {
            cursor: pointer;
            font-size: 14px;
        }
        .sidebar-ops {
            padding: 20px 0px 20px 0px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e6e9ef;
            i span {
                font-family: roboto, helvetica, sans-serif;
            }
        }
    }
    .sidenav-open {
        overflow: hidden;
        position: sticky;
        top: 52px;
    }
    .arrow {
        position: sticky;
        // position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        left: 73px;
        border-radius: 50%;
        border: 1px solid $lightGrey;
        background-color: white;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        transition: 0.3s ease;
    }
    i {
        font-size: 14px;
    }
    .arrow-right::after {
        content: '\f101';
    }
    .arrow-left::after {
        content: '\f100';
    }
    .fa-plus::before {
        content: '\f067';
    }
    .fa-search::before {
        content: '\f002';
    }
}
