.sidebar-app {
    nav {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 66px;
        padding: 20px 0;
        background-color: #292f4c;
        color: #fff;
    }

    .logo {
        display: inline-block;
        width: 32px;
        height: 32px;
    }
    .top-sec > *:not(:last-child) {
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
    }
    .user-greeting {
        min-height: 180px;
        width: 38px;
        border-radius: 0 16px 16px 0;
        background-color: #00ca72;
        margin-left: -32px;
        // padding: 12px 21px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        span {
            transform: rotate(270deg);
            font-size: rem(14px);
            // white-space: nowrap;
            text-align: center;
            white-space: nowrap;

        }
    }
    a {
        color: inherit;
    }
    i {
        cursor: pointer;
    }
    .fas {
        font-family: fa-solid; //should be in main
    }
    .far {
        font-family: fa;
    }

    .fa-th::after {
        content: '\f00a';
    }
    .fa-sign-out-alt {
        transform: scale(-1, 1); // this doesn't work???
    }
    .fa-sign-out-alt::after {
        content: '\f2f5';
    }
    .fa-bell::after {
        content: '\f0f3';
    }
}
