.sidebar-nav {
    // min-width: 35px;
    min-width: 35px;
    min-height: 100vh;
    border-right: 1px solid #e6e9ef;
    padding: 25px 10px 10px 10px;
    transition: 0.3s ease;
    white-space: nowrap;
    font-size: 0.75em;
    &.is-expanded {
        min-width: 235px;
        // position: sticky;
        left: 65px;
        // transform: translateX(200px);
        .arrow {
            position: absolute;
            // top: 20px;
            left: 285px;
            // transform: translateX(108px);
            transition: 0.3s ease;
        }
        h1 {
            width: 168px;
            font-size: rem(16px);
            border: 1px solid #e6e9ef;
            padding: 10px 5px;
            border-radius: 4px;
            align-self: center;
            text-align: center;
            font-family: roboto-light, helvetica, sans-serif;
        }
        h2 {
            cursor: pointer;
            font-size: rem(14px);
        }
        a {
            color: inherit;
            font-size: rem(14px);
        }
        .sidebar-ops {
            padding: 20px 16px 16px 14px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e6e9ef;
            color: #323338;
            i span {
                font-family: roboto-light, helvetica, sans-serif;
            }
            .add-board-wrapper > *:not(:last-child) {
                margin-inline-end: 5px;
            }
            .add-board-wrapper{
                position: relative;
            }
            .search-board-wrapper > *:not(:last-child) {
                margin-inline-end: 5px;
            }
            .search-board-wrapper input {
                font-family: roboto-light, helvetica, sans-serif;
            }

            &.second {
                border-bottom: none;
            }
        }
        .sidebar-ops.second {
            & > *:not(:last-child) {
                margin-bottom: 10px;
            }
            a > *:not(:last-child) {
                margin-inline-end: 5px;
            }
        }
    }
    .logo {
        display: none;
    }
    .sidenav-open {
        color: #323338;
        overflow: hidden;
        position: sticky;
        top: 52px;
    }
    .arrow {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        left: 85px;
        border-radius: 50%;
        border: 1px solid $lightGrey;
        background-color: white;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        transition: 0.3s ease;
    }
    i {
        font-size: 14px;
    }
    .arrow-right::after {
        content: '\f101';
    }
    .arrow-left::after {
        content: '\f100';
    }
    .fa-search::before {
        content: '\f002';
        color: #898a8f;
    }
    .plus-board {
        font-size: 1.1rem;
    }
    .hamburger {
        display: none;
    }
}

@media (max-width: $mobile-breakpoint) {
    .sidebar-nav {
        // min-height: 100vh;
        // position: fixed;
        // top: 0;
        left: 235;
        min-width: 1px;
        padding: 25px 5px 10px 10px;
        z-index: 6;
        border-right: none;
        background-color: #ffffff;
        transition: 0.3s ease;
        .fas.arrow {
            display: none;
        }
        .hamburger {
            display: inline;
            // position: sticky;
            position: fixed;
            top: 25px;
            left: 22px;
            height: 25px;
            width: 25px;
            background-color: white;
        }
        &.is-expanded {
            border-right: 1px solid #e6e9ef;
            left: 0;
            .hamburger {
                display: none;
            }
            .logo {
                display: inline-block;
                width: 32px;
                height: 32px;
                position: fixed;
                left: 100px;
            }
            h1 {
                margin-top: 10px;
            }
        }
    }
}
