.sidebar-nav {
    width: 2vw;
    min-height: 100vh;
    border-right: 1px solid #e6e9ef;
    padding: 25px 10px 10px 10px;
    // transition: opacity 0.2s ease;

    &.is-expanded {
        width: 16vw;
        font-size: 0.75em;
        // opacity: 1;
        .arrow {
            position: absolute;
            top: 20px;
            left: 288px;
        }
        h1 {
            width: 90%;
            font-size: 1.2em;
            border: 1px solid #e6e9ef;
            padding: 10px 5px;
            border-radius: 4px;
        }
        h2 {
            cursor: pointer;
            font-size: 1.15em;
        }
        .sidebar-ops {
            padding: 20px 0px 20px 0px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e6e9ef;
            i span {
                font-family: roboto,helvetica,sans-serif;
            }
        }
    }
    i {
        cursor: pointer;
        font-family: inherit;
    }
    .fas {
        font-family: fa-solid;
    }
    .arrow {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #e6e9ef;
        background-color: white;
        font-size: 1.3em;
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 20px;
        z-index: 1;
    }
    .arrow-right::after {
        content: '\f101';
    }
    .arrow-left::after {
        content: '\f100';
    }
    .fa-plus::before {
        content: '\f067';
    }
    .fa-search::before {
        content: '\f002';
    }
}
