.task-row {
    position: relative;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid;
    border-bottom-color: #e6e9ef;
    box-shadow: 0 3px 4px -5px #484444;
    margin-bottom: 2px;
    font-size: rem(13px);
    text-align: center;
    & > * {
        background-color: #f5f6f8;
    }
    & > * {
        margin: 0 0 0 1px;
    }


    .cell-tag-container {
        width: 142px;
        position: relative;
    }

    .tag-container {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 5px;
    }

    .group-color {
        height: 100%;
        flex-basis: 8px;
        min-width: 8px;
        position: sticky;
        left: 155px;
        z-index: 4;
    }

    .creation-log {
        color: $fontDarkGrey;
    }
    .fas.close {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }

}

// .timeline {
//     // flex-basis: 200px;
//     // cursor: pointer;
// }

.triangle-with-shadow {
    width: 100px;
    height: 97px;
    overflow: hidden;
    box-shadow: 0 16px 10px -17px #00000052;
}
.triangle-with-shadow:after {
    z-index: 2;
    content: "";
    transform: rotate(45deg);
    box-shadow: -1px -1px 10px -2px #00000052;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    top: 92px;
    left: 60px;
}

.triangle-with-shadow:hover,
.triangle-with-shadow:hover:after {
    box-shadow: none;
}

//see if can replace with 1 modal for all
.tag-options {
    animation: fade-in 0.3s ease-in-out both;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0px #00000052;
    z-index: 3;
    border-radius: 4px;
    padding: 16px 11px;
    top: 36px;
}
.fas.close {
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}
.fa.comment:hover {
    color: #0073ea;;
}

.fa.comment::after {
    content: "\f075";
    font-size: rem(22px);
    color: #e1e1e4;
    &:hover {
        color: #0073ea;;
    }
}
.fa.comment:hover::after {
    color: #0073ea;;
}
.fa.comment.active::after {
    color: #95b2d1;;
}
a:hover {
    text-decoration: none;
}

a {
    color: #0085ff;
}

// // /* MEDIUM */
// @media (max-width: 1500px) {
//     .groups-container.wrapper {
//         overflow-x: scroll;
//         min-height: 100vh;
//         // width: 1400px;
//     }
//     // .board-contrainer {
//     //     overflow-x: scroll;
//     //     overflow: auto;
//     // }
// }
@media (max-width: $mobile-breakpoint) {
    .task-row {

        .group-color {
            position: unset;
        }
    }
}