.task-row {
    width              : 100%;
    border-bottom      : 1px solid;
    border-bottom-color: #fff;
    box-shadow         : 0 3px 4px -5px #484444;
    margin-bottom      : 2px;
    font-size: rem(13px);
    &>*:not(:last-child) {
        background-color: #f5f6f8;
        margin          : 0 0 0 1px;
    }

    &:hover {
        .remove-task {
            opacity: .5;
        }
    }

}

.title {
    width: 40%;
    
    .remove-task {
        opacity: 0;
        cursor: pointer;
        transition: ease-in-out .2s;
        height: fit-content;
        &:hover{
            opacity: 1;
        }
    }

    .fa-trash::after {
        content: '\f1f8'
    }
}

.asignee {
    width: 10%;
}

.tags {
    width: 10%;
}

.status {
    width: 10%;
}

.priority {
    width: 10%;
}

.creation-log {
    width: 10%;
}

.due-date {
    width: 10%;
}