.board-app-container {
    .board-container {
        flex: 1;
    }
    .hide-lines {
        width: 53px;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        position: fixed;
        left: 101px;
        z-index: 4;
    }
}

@media (max-width: $mobile-breakpoint) {
    .board-app-container {
        .board-container {
            width: 100%;
            overflow-x: scroll;
            padding-left: 0;
            .hide-lines{
               display: none;
            }
        }
        .hide-lines {
            display: none;
        }
    }
}
@media (min-width: $normal-breakpoint) {
    .board-app-container {
        .board-container {
            flex: 1;
        }
    }
}

