.board-app-container {
    .board-container {
        flex: 1;
        // width: 100%;
        // overflow-x: scroll;

        // display: flex;
        // flex-direction: column;
    }
}

@media (max-width: $mobile-breakpoint) {
    .board-app-container {
        // overflow-x: clip;

        .board-container {
            width: 100%;
            overflow-x: scroll;
            padding-left: 0;
        }
    }
}
@media (min-width: $normal-breakpoint) {
    .board-app-container {
        .board-container {
            flex: 1;
        }
    }
}

// overflow-x: clip;
