* {
    box-sizing: border-box;
}

// ::selection {
//     // background-color: $clr1;
//     // color: $clr6;
// }

html {
    line-height: 1.6;
    // color: $clr2;
    font-family: roboto-regular, sans-serif;
}

body {
    font-size: rem(16px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}


// section, main, footer {
//     padding: 5px;
// }

img {
    width: 100%;
}

p {
    // margin: 0 0 1em;
    // max-width: 40ch;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

