@font-face {
    font-family: roboto-light;
    src: url(../../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(../../fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/roboto/Roboto-Bold.ttf);
}


@font-face {
    font-family: fa;
    src: url(../../fonts/fontAwesome/fa-regular-400.ttf);
}
@font-face {
    font-family: fa-solid;
    src: url(../../fonts/fontAwesome/fa-solid-900.ttf);
}
