// Colors
$clr1: #00ca72;
$clr2: #fdab3d;
$clr3: #a25ddc;
$clr4: #ff642e;
$clr5: #165a63;
$clr6: #579bfc;
$clr6: #c4c4c4;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
