// Colors
// $clr1: #092F32;
// $clr2: #574f7d;
// $clr3: #95adbe;
// $clr4: #dff0ea;

$darkGreen: #037f4c;
$green: #00c875;
$yellowGreen: #9cd326;
$beige: #cab641;
$yellow: #ffcb00;
$darkPurple: #784bd1;
$purple: #a25ddc;
$turquoise:#0086BE;
$blue: #579bfc;
$Darkblue: #0073ea;
$lightBlue: #66ccff;
$darkRed: #bb3354;
$red: #e2445c;
$darkOrange: #ff642e;
$orange: #fdab3d;
$brown: #7f5347;
$grey: #c4c4c4;
$darkGrey: #808080;
$lightGrey: #e6e9ef;

// Font colors 

$fontDarkGrey: #666666;
$fontGroupHeader: #323338;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
